//flex left and right containers
.mainBody {
    display: flex;
}
.leftContainer{
    .WindowView {
        top: 0;
        margin: 0;
        padding: 0;
        position: relative;
        width: 750px;
        height: 761px;
    }
    // color transformation in title
    h1 {
        position: absolute;
        top: 0;
        padding: 5em 17em 0 2em;
        color: #fff;
        font-size: 50px;
        font-family: "ubuntu";
        text-transform: uppercase;
        font-weight: 200;
        font-family: "Josefin Sans", sans-serif;
        background: linear-gradient(to right,#ffffff 10%, #0588e4 60%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 280% auto;
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 9s linear infinite;
    }
    
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    h2 {
        position: absolute;
        top: 0;
        padding: 5.8em 17em 0 2em;
        color: red;
        font-size: 50px;
        font-family: "ubuntu";
        text-transform: uppercase;
        font-weight: 200;
    }
}

    
.rightContainer {
    img {
        width: 750px;
        height: 479px;
    }
    .dateDescript {
        margin: 0;
        padding: 0em 0em 0em 9.5em ;
        display: flex;
        justify-content: space-between;
        width: 30em;
        color: gray;
    }
    input{

        height: 60px;
        width: 120px;
        border: 2px solid #0588e4;
        position: relative;
        border-radius: 40%;
        margin: .75em 8em 0 10em;
        text-align: center;
        cursor: pointer;
    }
    button {
        height: 60px;
        width: 120px;
        border: 2px solid red;
        position: relative;
        border-radius: 40%;
        margin: 0 0 .5em 10em;
        background-color: white;
        cursor: pointer;
    }

}

.earth {
    top: 0;
    margin: 30em 0 0 18em;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #0588e4 url('../images/earth.png');
    background-size: cover;
    border-radius: 50%;
    box-shadow:inset 0 0 50px rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    animation: animate 12s linear infinite;

    img {
        transform: rotate(270deg);
        width: 30px;

    }
}


.earth:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 70%;
    background: url("../images/cloud.png");
    background-size: cover;
    animation: animate 18s linear infinite;
}


@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 719px 0;
    }
}

.chart {
         padding: 20px 700px 20px 100px; 
         border: 2px solid black; 
         list-style-type: none;
         margin: auto;
         width: 0;

    .headChart {
        display: flex;
        
        li {
            list-style-type: none;
            padding: 0 5em 0 0em;
            width: 20em;
            justify-content: space-between;
        }
        .dropbtn {
            background-color: white;
            color: #0588e4;
            padding: .5em 1em .5em 1em;
            width: 10em;
            font-size: 12px;
            border: .3em solid #0588e4;
            border-radius: 30%;
            cursor: pointer;
          }
          
          .dropbtn:hover, .dropbtn:focus {
            background-color: white;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            color: #0588e4;
            min-width: 100px;
            min-height: 50px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px white;
            z-index: 1;
          }
          
          .dropdown-content button {
            color: #0588e4;
            padding: 15px 55px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown button:hover {background-color: #ddd;}
          
          .show {display: block;}
    }

    hr {
        width: 580px;
    }

    .chartBody {
        display: flex;
        
        li {
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;
            height: 5em;
            justify-content: space-between;
            width: 6.5em;    
        }
        
    }
    .NoResponse{
        width: 50em;
        color: red;
        padding: 0 0 0 10em;
    }
}
@media only screen and (max-width: 1420px) {
    .mainBody {
        display: block;
    }
    .leftContainer {
        h2 {
            padding: 7em 17em 0 2em;
            }
    }
}
@media only screen and (min-width: 1550px) {
    .rightContainer {
        img {
            width: 1337px;
            height: 554px;
        }
        button {
            margin: 0 0 .5em 10em;
        }
    
    }
}